#banner {
    width: 100%;
    height: calc(150vh - 81px);
    background-image: url("./perfil.jpg");    
    background-repeat:repeat-x repeat-y;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .banner-text {
      color: white;
      text-shadow: 5px 5px 5px #222;
      text-align: center;
      width: 50%;
  
      h2 {
        font-size: 50px;
      }
  
      ul {
        list-style-type: none;
        li {
          font-size: 20px;
        }
      }
    }
  }
  